extend includes/_layout
append variables
	//- Required
	- var pageTitle= "Seymour";
	- var pageDescription= site.description;
	- var pageKeywords= site.keywords;
	//- Optional
	- var pageOgpTitle= "";
	- var pageOgpImage= site.ogpImage
	- var pageLang= "ja";
	- var pageOgpType= "website";
	//- Not modified
	- var pageUrl= site.relativePath;

block content
	main
		section#top
			.top-container
				h1 プログラミングで
				h1 人生の安定を手に入れよう
				img(src="/images/isaralogolarge.png")
				h2 バンコクのノマドエンジニア育成講座
				h2 iSara[イサラ]
		
		section#top-contact
			.top-contact
				h3 まずは20日間で、
				h3 月10万円稼げるスキルを手に入れよう
				h4 受講料金は実質0円です。詳しくは資料請求をどうぞ。
			.contact-btn
				a(href="#top") お問い合わせ＆資料請求はこちら
			.limitation
				h3 第三期生：２０１８年７月８日〜２０１８年７月２７日　＊締め切りました
				h3 第四期生：２０１８年１２月３日〜２０１８年１２月２２日　＊締め切りました
				h3.uketsuke 第五期生：資料請求受付中です
			.button.twitter
				a(href="#").icon
					span.fab.fa-twitter
					| ツイート
			.button.facebook
				a(href="#").icon
					span.fab.fa-facebook
					| いいね！
			.button.share
				a(href="#").icon
					| シェア					
		section#freedom
			.get-freedom
				h2 エンジニアとして本当の自由を手に入れるためには？
			p エンジニア需要の高まりに伴い、プログラミングスクールが増えています。
			p しかしそこでの学習の先は、提携して決められた就職先に就職すること。
			br
			p これで本当にいいのですか？
			p 日本人エンジニアはアメリカと比べて給料が格段に低い。
			p その理由がここにあり、エンジニアは自分の給料をコントロールすべきなのです。
			br
			p スキルを身に着けたエンジニアは、人生をコントロールすることでより自由に。
			p そこで必要なのが
				span.underline 「稼ぐ力」
				| です。
		section#about
			.about-icon
				p ABOUT
			.get-freedom
				h2 ノマドエンジニア育成講座
				h2 iSara[イサラ]とは
			h3 「稼ぐこと」にフォーカスしたエンジニア育成講座です。
			.skillbox
				h3 稼げるエンジニアに必要な５つのスキルとは？
				.box-container
					.box
						img(src="/images/skill.jpg")
						p 基礎的な
						p プログラミングスキル
					.box
						img(src="/images/sales.jpg")
						p 案件獲得に必要な
						p 営業力
					.box
						img(src="/images/document.jpg")
						p 見積もり作成から
						p 納品までの知識
					.box
						img(src="/images/plusone.jpg")
						p 自分の付加価値を
						p 高めるスキル
					.box
						img(src="/images/connection.jpg")
						p フリーランス同士の
						p 横のつながり
		section#noteach
			h2 iSaraで「基本的なプログラミングスキル」は教えません
			h3 基礎的なプログラミングスキルは無料で学べる時代。
			h3 iSaraでは、基礎知識学習は
				span.strong 事前課題
				| と
				span.strong チャットサポート
				| のみ。
			.card
				h5 STEP.1
				p 【バンコク渡航前１ヶ月】
				p 事前課題で基礎知識を学ぶ
			.card
				h5 STEP.1
				p 【バンコク渡航前１ヶ月】
				p 事前課題で基礎知識を学ぶ
			.card
				h5 STEP.1
				p 【バンコク渡航前１ヶ月】
				p 事前課題で基礎知識を学ぶ
		#band
			h3 スキルアップしてもフリーランスエンジニアとして食べていくことは難しい。
			h3 フリーランスには
				span.strong プログラミングスキル以外
				| が大切。
		section#learn
			h2 iSara[イサラ]で学べること
			p iSaraの学習では、エンジニアとして「稼ぐ」ために必要な能力を身につけます。
			.learn-container
				.learn
					img(src="/images/salesskill.jpg")
				.learn
					img(src="/images/salesskill.jpg")
				.learn
					img(src="/images/salesskill.jpg")
				.learn
					img(src="/images/salesskill.jpg")
			p これらを教えるのがiSaraです。
		section#merit
			.get-freedom
				h4 他のプログラミングスクールとここが違う！
				h2 iSara[イサラ]の３つのメリット
			img(src="/images/")

